:root{
  /* Body */
  --bodycolor: white;
  --bodybackgroundcolor: black;
  /* Navbar */
  /* colores */
  --navbarbackgroundcolor: rgba(27, 27, 27, 0.452);
  --navbarbackgroundcolorhover:rgba(128, 128, 128, 0.61);
  /* fuente */
  --navbarfont: 'Arial', sans-serif;
  --navbartextColor: rgb(255, 255, 255);
  --navbartextColorhover:green;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: var(--bodycolor);
  background-color: var(--bodybackgroundcolor);

  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
header{
  max-width: 1920px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(../img/hero/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 50%;
}
main{
    width: 100%;
    max-width: 1920px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
}
footer{
    width: 100%;
    height: 10vh;

    border-top: 1px solid black;
}

/* test */
/* 
div{
  border: 1px solid rgb(9, 196, 49);
}
main{
  border: 1px solid blue;
}
section{
  border: 1px solid green;
}
img{
  border: 1px solid white;
} */


/* Navbar */

.navbar {
  position: sticky;
  top: 0px;
  background-color: var(--navbarbackgroundcolor);
  color: var(--navbartextColor);
  font-family: var(--navbarfont);
}
.nav-links {
  list-style-type: none;
}
.nav-links li {
  margin-right: 20px;
}
.nav-links li a {
  text-decoration: none;
  color:var(--navbartextColor);
}
.nav-links li a:hover {
  text-decoration: none;
  color:var(--navbartextColorhover);
}
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: all 0.3s ease;
  }
  .nav-links.nav-active {
    display: flex;
  }
  .nav-links li {
    margin: 10px 0;
  }
  .burger {
    display: flex;
  }
}

/* index.html */

/* Hero */

.heroFrases {
  width: 100%;
  overflow: hidden;
}

.frase {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.frase.active {
  opacity: 1;
}

/* Terapeutas.html */

/* Boxs */

.box{
  min-height: 90vh;
}
.mDestacadas{
  min-height: 50vh;
}
.mUltimasSesiones{
  min-height: 40vh;
}
.mUlimasEntradas{
  min-height: 40vh;
  gap: 5px;
}


/* details.html */

/* estilos de renderizado por details.js */

.modelo{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 5px;
  gap: 5px;
}
.modelo-Title{
  padding: 5px;
}
.modelo-Title a{
  color: inherit;
  text-decoration: none;
}
.modelo-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 5px;

  padding: 10px;
  text-indent: 20px;
}
.modelo-text a{
  color: inherit;
  text-decoration: none;
}
.modelo-img0{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modelo-img0 img{
  max-width: 300px;
  max-height: 600px;
  height: auto;
}
.modelo-img{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.modelo-img img{
  width: 300px;
  height: 300px;
}

@media screen and (min-width: 320px){
  .modelo-Title{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1024){
  .modelo-img0 img{
    max-width: 900px;
    max-height: 900px;
    height: auto;
  }
}

/* Estilos para las tarjetas de terapeutas */
.terapeuta-details{
  width: 100%;
  min-height: 100vh;
}
.terapeuta-card {
  width: 300px;
  height: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}
.terapeuta-card:hover{
  cursor: pointer;
}
.terapeuta-img img{
  width: 100%;
  height: auto;

  border-radius: 10px 10px 0px 0px;
}
.terapeuta-info{
  border: 1px solid wheat;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

