:root{
  /* Body */
  --bodycolor: white;
  --bodybackgroundcolor: black;
  /* Navbar */
  /* colores */
  --navbarbackgroundcolor: rgba(27, 27, 27, 0.452);
  --navbarbackgroundcolorhover:rgba(128, 128, 128, 0.61);
  /* fuente */
  --navbarfont: 'Arial', sans-serif;
  --navbartextColor: rgb(255, 255, 255);
  --navbartextColorhover:green;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: var(--bodycolor);
  background-color: var(--bodybackgroundcolor);

  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
header{
  max-width: 1920px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(../img/hero/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 50%;
}
main{
    width: 100%;
    max-width: 1920px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
}
footer{
    width: 100%;
    height: 10vh;

    border-top: 1px solid black;
}

/* test */

/* div{
  border: 1px solid rgb(9, 196, 49);
}
main{
  border: 1px solid blue;
}
section{
  border: 1px solid green;
}
img{
  border: 1px solid white;
} */


/* Navbar */

.navbar {
  position: sticky;
  top: 0px;
  background-color: var(--navbarbackgroundcolor);
  color: var(--navbartextColor);
  font-family: var(--navbarfont);
}
.nav-links {
  list-style-type: none;
}
.nav-links li {
  margin-right: 20px;
}
.nav-links li a {
  text-decoration: none;
  color:var(--navbartextColor);
}
.nav-links li a:hover {
  text-decoration: none;
  color:var(--navbartextColorhover);
}
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: all 0.3s ease;
  }
  .nav-links.nav-active {
    display: flex;
  }
  .nav-links li {
    margin: 10px 0;
  }
  .burger {
    display: flex;
  }
}

/* index.html */

/* Hero */

/* hero promo heroDestacadas.js */

.heroDestacadas-card{
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heroDestacadas-card:hover{
  cursor: pointer;
}
.heroDestacadas-img{
  width: 100%;
  max-width: 500px;
  height: auto;
  max-height: 500px;

  border-radius: 25px;
}

/* Terapeutas.html */

/* Boxs */

.box{
  min-height: 90vh;
}
.mDestacadas{
  min-height: 50vh;
}
.mUltimasSesiones{
  min-height: 40vh;
}
.mUlimasEntradas{
  min-height: 40vh;
  gap: 5px;
}


/* details.html */

/* estilos de renderizado por details.js */

.modelo{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 5px;
  gap: 5px;
}
.modelo-Title{
  padding: 5px;
  width: 100%;
}
.modelo-Title a{
  color: inherit;
  text-decoration: none;
}
.modelo-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 5px;

  padding: 10px;
  text-indent: 20px;
}
.modelo-text a{
  color: inherit;
  text-decoration: none;
}
.modelo-img0{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modelo-img0 img{
  width: 100%;
  max-width: 500px;

  height: auto;
}
.modelo-img{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.modelo-img img{
  width: 300px;
  height: auto;
}

@media screen and (min-width: 320px){
  .modelo-Title{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1024){
  .modelo-img0 img{
    max-width: 900px;
    max-height: 900px;
    height: auto;
  }
}
/* Estilos para las tarjetas de terapeutas */
.terapeuta-details {
  width: 100%;
  min-height: 100vh;
}

.terapeuta-card {
  width: 250px;
  height: 400px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ff0000;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  position: relative; /* Agregamos position: relative para posicionar elementos hijos */
}

.terapeuta-info {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el texto */
  border-radius: 0 0 10px 10px;
  padding: 10px;
  position: absolute; /* Posiciona el contenido relativo a .terapeuta-card */
  bottom: 0; /* Alinea al fondo */
  opacity: 0; /* Inicialmente ocultar .terapeuta-info */
  transform: translateY(100%); /* Desplazar .terapeuta-info hacia abajo */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Agregar transiciones para una apariencia suave */
}

.terapeuta-card:hover .terapeuta-info {
  opacity: 1; /* Mostrar .terapeuta-info cuando se pasa el mouse sobre .terapeuta-card */
  transform: translateY(0); /* Desplazar .terapeuta-info hacia arriba */
}

.terapeuta-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px 3px #ff0000;
  -moz-box-shadow: 0px 0px 10px 3px #ff0000;
  box-shadow: 0px 0px 10px 3px #ff0000;
}

/* estilos para las card destacadas */
.destacadas-card {
  width: 300px;
  height: 400px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #abb60d;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative; /* Permite posicionar el contenido de manera relativa */
}

.destacadas-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px 3px #abb60d;
  -moz-box-shadow: 0px 0px 10px 3px #abb60d;
  box-shadow: 0px 0px 10px 3px #abb60d;
}

.destacadas-info {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el texto */
  border-radius: 0 0 10px 10px;
  padding: 10px;
  position: absolute; /* Posiciona el contenido relativo al .destacadas-card */
  bottom: 0; /* Alinea al fondo */
  opacity: 0; /* Inicialmente oculta .destacadas-info */
  transform: translateY(100%); /* Desplaza .destacadas-info hacia abajo */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Agregar transiciones para una apariencia suave */
}

.destacadas-card:hover .destacadas-info {
  opacity: 1; /* Mostrar .destacadas-info cuando se pasa el mouse sobre .destacadas-card */
  transform: translateY(0); /* Desplazar .destacadas-info hacia arriba */
}


.terapeuta-nombre {
  margin: 0;
  font-size: 1.5em;
}

.terapeuta-ubicacion, .terapeuta-whatsapp {
  margin: 5px 0;
}

/* estilos para las card sesiones de fotos */
.sesiones-card {
  width: 300px;
  height: 350px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid #ff0000;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
}

.sesiones-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px 3px #ff0000;
  -moz-box-shadow: 0px 0px 10px 3px #ff0000;
  box-shadow: 0px 0px 10px 3px #ff0000;
}

.sesiones-info {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el texto */
  border-radius: 0 0 10px 10px;
  padding: 10px;
  position: absolute; /* Posiciona el contenido relativo al .sesiones-card */
  bottom: 0; /* Alinea al fondo */
  opacity: 0; /* Inicialmente oculta .sesiones-info */
  transform: translateY(100%); /* Desplaza .sesiones-info hacia abajo */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Agregar transiciones para una apariencia suave */
}

.sesiones-card:hover .sesiones-info {
  opacity: 1; /* Mostrar .sesiones-info cuando se pasa el mouse sobre .sesiones-card */
  transform: translateY(0); /* Desplazar .sesiones-info hacia arriba */
}

/* Estilos para las tarjetas de impresiones */
.impresiones-card {
  width: 250px;
  height: 350px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid #ff0000;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
}

.impresiones-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px 3px #ff0000;
  -moz-box-shadow: 0px 0px 10px 3px #ff0000;
  box-shadow: 0px 0px 10px 3px #ff0000;
}

.impresiones-info {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el texto */
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  position: absolute; /* Posiciona el contenido relativo al .impresiones-card */
  bottom: 0; /* Alinea al fondo */
  opacity: 0; /* Inicialmente oculta .impresiones-info */
  transform: translateY(100%); /* Desplaza .impresiones-info hacia abajo */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Agregar transiciones para una apariencia suave */
}

.impresiones-card:hover .impresiones-info {
  opacity: 1; /* Mostrar .impresiones-info cuando se pasa el mouse sobre .impresiones-card */
  transform: translateY(0); /* Desplazar .impresiones-info hacia arriba */
  height: 100%; /* Ocupar todo el espacio vertical de la tarjeta */
  justify-content: center; /* Centrar el contenido verticalmente */
}
